/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
	background:url("../images/gradient-bg.jpg") repeat-x scroll left top #92A7C2;
	color:#000;
}

#page-wrapper {
}

#page {
}

#page-inner {
	background-color: #F3F7FB;
	border: 1px solid #B7C9DF;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	clear: both;
	margin: 5px auto 0;
	}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
	background: none repeat scroll 0 0 #3668A3;
	border-bottom: 1px solid #B7C9DF;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-height:70px;
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 10px;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 10px 0 0;
	font-size: 1.4em;
	font-weight: lighter;
	letter-spacing: 1px;
	font-family: helvetica;
	text-shadow: 0.05em 0.05em #222;
}

#site-name a:link,
#site-name a:visited {
  color: #FFFFFF;
	text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

#site-slogan /* The slogan (or tagline) of a website */ {
	font-size:0.85em;
	color:#fff;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

#header_right {
	float: right;
	margin: 20px 20px 0 0;
}

#yellowbar {
	background: none repeat scroll 0 0 #FFCE00;
	border-bottom: 1px solid #B7C9DF;
	clear: both;
	color: #003461;
	height: 20px;
	
	}
#ucb {
	float: left;
	width: 300px;
	line-height:0;
	padding-top:3px;
}
#breadcrumb {
	background: none repeat scroll 0 0 #FFCE00;
	font-size: 0.75em;
	line-height:0;
	padding: 3px 0 0 0;
}
#breadcrumb a:link, #breadcrumb a:visited {
	color: #003461;
	font: 1em Verdana,Arial,Helvetica,sans-serif;
	text-decoration: none;
}
#breadcrumb a:hover {
	text-decoration:underline;
	}
/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
	background:#677EAC;
}

/*
 * Content
 */
#content {
}

#content .section {
	margin-top:1.4em;
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: #003461;
	display: block;
	font-family: Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1.4em;
	margin-bottom: 10px;
	margin-top: 5px;
}

#content a:link, #content a:visited {
    color: #0066A0;
    text-decoration: underline;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
	background-color: #D5DDEF;
	border-right: 1px solid #B3BED5;
	padding-bottom: 10px;
}

.region-sidebar-first, .region-sidebar-second {
	font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.9em;
}
.region-sidebar-first h2, .region-sidebar-second h2 {
	background-color: #677EAC;
	color: #FFFFFF;
	margin: 0;
	padding: 2px 2px 2px 8px;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
	background-color: #D5DDEF;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.9em;
	padding: 0;
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
  background: none repeat scroll 0 0 #677EAC;
	border-top: 1px dotted #B7C9DF;
	clear: both;
	color: #FFFFFF;
	display: block;
	font-size: 0.75em;
	overflow: visible;
	padding: 5px 0;
	position: relative;
	text-align: center;
	vertical-align: bottom;
}
.region-footer {
	color: #B3BED5;
}
.region-footer .block {
	margin-bottom:.5em;
	}
.region-footer ul.menu {
	display:inline;
	margin:0;
	padding:0;
	}
.region-footer ul li {
	background: none repeat scroll 0 0 transparent;
	border-left: 1px solid #CCCCCC;
	display: inline;
	padding: 0 5px 0 9px;
}
.region-footer ul li.first {
	border-left:none;
	}
.region-footer ul li a, .region-footer ul li a:hover, .region-footer ul li a:active {
    border: medium none;
    color: #FFFFFF;
    display: inline;
    padding: 0;
}


/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}


